# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio 2015/2017 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml

# Restore packages
packages/
*.nuget.props
*.nuget.targets

# Visual Studio cache files
*.cache
*.vsidx
*.vssscc
*.vspscc

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Temporary files
*.tmp
*.temp

# NuGet packages
*.nupkg